.categoryBoxsss{
    list-style: none;
    position: absolute;
    top: 14.1%;
    right: 3%;
    background-color: #222222;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    width: 220px; /* Set a fixed width for better control */
   height: 200px;

}

.categoryBoxsss.show {
    max-height: 25vmax;
  }
  
  .categoryBoxsss.hide {
    max-height: 0;
  }

  @media screen and (max-width: 700px) {
    .categoryBoxsss {
        top: 12.5%;
        right: 1%;
        width: 200px; /* Set a fixed width for better control */
        height: 650px;
      }
      
      .categoryBoxsss.show {
        max-height: 35vmax;
      }
      
      .categoryBoxsss.hide {
        max-height: 0;
      }
  }  