/* Heading and general product styles */
.productsHeadingsssss {
    margin: 2.8vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.731);
    font: 500 1.6vmax "playfair display";
    text-align: center;
    font-weight: bold;
  }

.categoryBoxsssss{
    list-style: none;
    position: absolute;
    top: 14.1%;
    right: 3%;
    background-color: #222222;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    width: 220px; /* Set a fixed width for better control */
    height: 330px;
}

.categoryBoxsssss.show {
    max-height: 32vmax;
  }
  
  .categoryBoxsssss.hide {
    max-height: 0;
  }

@media screen and (max-width: 700px) {

    .productsHeadingsssss {
        padding-right: 35px;
        font-size: 19px;
        margin-top: 38px;
        font-weight: bold;
        width: 33vw;
        border-bottom: 1.2px solid rgba(0, 0, 0, 0.171);
        white-space: nowrap; /* Prevents wrapping */
    }

    .categoryBoxsssss {
        top: 12.5%;
        right: 1%;
        width: 220px; /* Set a fixed width for better control */
        height: 650px;
      }
      
      .categoryBoxsssss.show {
        max-height: 55vmax;
      }
      
      .categoryBoxsssss.hide {
        max-height: 0;
      }
}  